#add{

	display: none;
	
}

span{
	width : 30px;
	height:  30px;
	display: inline-block;
	color : white;
	background-color: red;
}


 .done{
      text-decoration: line-through;

    }
i{

	padding-top: 3px;
	padding-left: 8px;
	padding-right: 5px;
	padding-bottom: 3px;
}

input::focus{

	border-color : red;


}

.apply{
border: 2px solid #c99
}